<% content_for :title do %>
  比赛选手
<% end %>

  <%= render partial: "components/banner" %>

  <div class="welcome-title">
    <strong><%= current_expert.name %>评委，您好！</strong>
    <% if current_expert %>
      <%= link_to destroy_expert_session_path, :method => :delete, class: "pull-right" do %>
        <i class="fa fa-sign-out"></i>退出
      <% end %>
    <% else %>
      <%= link_to new_expert_session_path, :method => :delete, class: "pull-right" do %>
        <i class="fa fa-sign-out"></i>登录
      <% end %>
    <% end %>
  </div>
  <div class="wrap">
    <div class="players">
      <table class="table">
        <thead>
          <tr class="dark-purple">
            <th>序号</th>
            <th>姓名</th>
            <th>报名内容</th>
            <th>得分</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% index = 0 %>
          <% count = 0 %>
          <% @recruits_offline.each_with_index do |recruit, index| %>
            <% if recruit.marks.pluck(:expert_id).include? current_expert.id %>
              <% count += 1 %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= recruit.player_info.try(:name) %></td>
                <td>《<%= recruit.name %>》</td>
                <td><%= recruit.marks.where(expert_id:current_expert.id).first.try(:score) %></td>
                <td>
                  <% unless recruit.marks.where(expert_id:current_expert.id).first.try(:item_array).blank? %>
                    <%= link_to "修改评分", recruit.opus, class:"btn btn-info btn-sm", "data-turbolinks" => false %>
                  <% else %>
                    <% if recruit.opus.present? %>
                      <%= link_to "评分", recruit.opus, class:"btn btn-info btn-sm", "data-turbolinks" => false %>
                    <% else %>
                      <%= link_to "作品未上传", "#", class:"btn btn-info btn-sm disabled" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>

          <% if count == 0 %>
            <tr>
              <td colspan="5">未分配参赛选手</td>
            </tr>
          <% end %>
        </tbody>  
      </table>
    </div>
  </div>

<!-- 返回上一页 -->
<%= render partial: "components/turn_back", locals: { url: root_path, fixed: false } %>

  <!-- 模态框显示老师成绩 -->
  <div class="player-grade"></div>