<nav class="navbar navbar-default mNavbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand <%= "brand-active" if controller_action_to? params, "home", "index" %>" href="http://114.55.172.35">&nbsp;&nbsp;&nbsp; 培训基地 &nbsp;&nbsp;&nbsp;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="<%= "active" if controller_to? params, "notifications" %>">
          <%= link_to "赛事公告", notifications_path %>
        </li>
        <li>
          <a href="#">比赛入口</a>
        </li>
        <li>
          <a href="#">通知新闻</a>
        </li>
        <li>
          <a href="#">作品展示</a>
        </li> -->
        <li>
          <a class="<%= "brand-active" if controller_action_to?(params, "homes", "index") %>" href="<%= root_path %>">
            &nbsp;&nbsp;&nbsp; 首页 &nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li>
          <a href="<%= root_path %>">&nbsp;&nbsp;&nbsp; 教师培训成果 &nbsp;&nbsp;&nbsp;</a>
        </li>

        <% if current_player.present? %>
          <li>
            <% active = 
              controller_action_to?(params, "centers", "show") || 
              controller_action_to?(params, "info_competitions", "show") || 
              controller_action_to?(params, "talk_competitions", "show") || 
              controller_action_to?(params, "talk_competition/recruits", "show") || 
              controller_action_to?(params, "talk_competition/opuses", "show") || 
              controller_action_to?(params, "info_competition/recruits", "show") || 
              controller_action_to?(params, "info_competition/opuses", "show") %>
            <a class="<%= "brand-active" if active %>" href="<%= center_path %>">&nbsp;&nbsp;&nbsp; 个人中心 &nbsp;&nbsp;&nbsp;</a>
          </li>
        <% elsif current_school_user.present? %>
          <li>
            <% active = 
              controller_action_to?(params, "school_centers", "show") || 
              controller_action_to?(params, "info_competitions", "index") || 
              controller_action_to?(params, "talk_competitions", "index") %>
            <a class="<%= "brand-active" if active %>" href="<%= school_center_path %>">&nbsp;&nbsp;&nbsp; 个人中心 &nbsp;&nbsp;&nbsp;</a>
          </li>
        <% elsif current_expert.present? %>
          <li>
            <% active = 
              controller_action_to?(params, "expert_centers", "show") || 
              controller_action_to?(params, "info_competitions", "marks") || 
              controller_action_to?(params, "talk_competitions", "marks") ||
              controller_action_to?(params, "talk_competition/opuses", "show") ||
              controller_action_to?(params, "info_competition/opuses", "show")%>
            <a class="<%= "brand-active" if active %>" href="<%= expert_center_path %>">&nbsp;&nbsp;&nbsp; 个人中心 &nbsp;&nbsp;&nbsp;</a>
          </li>
        <% else %>

        <% end %>
      </ul>

      <% if current_player || current_school_user || current_expert %>
        <ul class="nav navbar-nav navbar-right nav-sign">
          <li>
            <%= link_to "" do %>
              <% if current_school_user %>
                <%= image_tag "user.svg" %><span><%= current_school_user.phone %></span>
              <% elsif current_player%>
                <%= image_tag "user.svg" %><span><%= current_player.phone %></span>
              <% else%>
                <%= image_tag "user.svg" %><span><%= current_expert.phone %></span>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to('[ 退出 ]', destroy_player_session_path, :method => :delete) %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right nav-sign">
          <li>
            <%= link_to new_player_session_path do %>
              <%= image_tag "user.svg" %><span>登录</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_player_registration_path do %>
              <%= image_tag "edit.svg" %><span>注册</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_expert_session_path do %>
              <%= image_tag "list.svg" %><span>管理</span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="navbar-shadow"></div>