<div class="logo">
  上海信息化教学大赛管理平台
</div>

<div class="content">
  <h3 class="form-title">Login to your account</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.phone_field :sign_in, required: false, autofocus: true %>
      <%= f.password_field :password, required: false %>
      <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.submit "登录" %>
    </div>
  <% end %>  
</div>
