<%= simple_form_for(@player_task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :appraise %>
    <%= f.association :task %>
    <%= f.association :player %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
