<p id="notice"><%= notice %></p>

<h1>Listing Resourses</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Resourse type</th>
      <th>Catalog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resourses.each do |resourse| %>
      <tr>
        <td><%= resourse.type %></td>
        <td><%= resourse.resourse_type %></td>
        <td><%= resourse.catalog %></td>
        <td><%= link_to 'Show', resourse %></td>
        <td><%= link_to 'Edit', edit_resourse_path(resourse) %></td>
        <td><%= link_to 'Destroy', resourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resourse', new_resourse_path %>
