<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @resourse.type %>
</p>

<p>
  <strong>Resourse type:</strong>
  <%= @resourse.resourse_type %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @resourse.catalog %>
</p>

<%= link_to 'Edit', edit_resourse_path(@resourse) %> |
<%= link_to 'Back', resourses_path %>
