<div class="row">
  <div class="col-sm-12">
    <div class="nest">
      <div class="tool-bar pull-right">
        <%= link_to new_admin_bulletin_path, remote: true, format: :js, :class => 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-plus"></i>创建
        <% end %>
      </div>
      <div class="body-nest">
        <!-- <p class="lead well">
          
        </p> -->
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>标题</th>
              <th>所属赛事</th>
              <th>创建时间</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @bulletins.each do |item| -%>
            <tr>
              <td><%= item.title -%></td>
              <td><%= item.activity.try(:name) -%></td>
              <td><%= item.created_at.strftime('%F %H:%M') -%></td>
              <td></td>
            </tr>
            <% end -%>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <div class="pagination pagination-centered pull-right">
                  <div class='row'><%= will_paginate @bulletins, :renderer => BootstrapPagination::Rails ,:remote => {:update => 'messages'} %></div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="bulletinModalContent">
  
</div>
