<p id="notice"><%= notice %></p>

<h1>Listing Talk Competition Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talk_competition_activities.each do |talk_competition_activity| %>
      <tr>
        <td><%= link_to 'Show', talk_competition_activity %></td>
        <td><%= link_to 'Edit', edit_talk_competition_activity_path(talk_competition_activity) %></td>
        <td><%= link_to 'Destroy', talk_competition_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_talk_competition_activity_path %>
