<% if current_player.present? %>
  <div class="panel panel-default tab_cotent">
    <div class="panel-heading tab_head">
      <%= image_tag("TabTitleBg.png", class: "bg_image")%>
      <div class="tab_title_text">个人中心</div>
    </div>
    <div class="panel-body row">
      
        <div class="col-md-4 center_info">
          <span class="color_label">用户: </span><span><%= current_player.try(:phone) %></span><br><br><br>
          <span class="color_label">姓名: </span><span><%= current_player.try(:info).try(:name) %></span><br><br><br>
          <span class="color_label">学校: </span><span><%= current_player.try(:school).try(:name) %></span><br><br>
        </div>
        <div class="col-md-4 center_info">
          <p><%= image_tag "message_icon.png" %><span>  比赛公告</span></p>
          <% @notifications.each do |notification| %>
            <p>
              <%= link_to notification_path(notification.id), "data-turbolinks" => false do %>
                <span class="thin_text"><%= notification.title %></span>
              <% end %>
              </a>
            </p>
          <% end %>
          <br>
        </div>
        <div class="col-md-4">
          <%= image_tag "user_icon.png" %><span>  当前我参与的</span><br><br>
          <% @activities.each do |activity| %>
            <p>
              <a href="">
              <%= link_to [:new, activity, :recruit] do %>
                <span class="thin_text"><%= activity.short_name %></span>
              <% end %>
            </p>
          <% end %>
        </div>
      
    </div>
  </div>
<% end %>