<div class="container">
  <ol class="breadcrumb">
    <span>您的位置</span>
    <li><%= link_to "首页", root_path %></li>
    <li class="active">个人中心</li>
  </ol>
  <%=  render partial: "player_info_tab"%>
  <div class="panel panel-default tab_cotent">
    <% if current_player.present? %>
      <div class="panel-heading tab_head">
        <%= image_tag("TabTitleBg.png", class: "bg_image")%>
        <div class="tab_title_text">个人中心</div>
      </div>
    <% end %>
    <div class="center_cotent row">
      <%=  render partial: "center_left_nav"%>
      <%=  render partial: "center_right_user_form"%>
    </div>
  </div>
</div>