<%= simple_form_for(@info_competition_activity, wrapper: :push_horizontal_form) do |f| %>

  <div class="form-row">
    <div class="form-left">课程名称：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true, input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛内容：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true, input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛视频：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true,  placeholder:"选择视频", input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
        <div class="pull-left layout-type">
          <label>.mp4</label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-push">上传</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛教材：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true, input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">创作说明：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input push-textarea">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", as: :text, label: false, wrapper: :vertical_form, input_html: {rows: 3}, required: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">教案：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true,  placeholder:"选择文件", input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-push">上传</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">说课稿：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true,  placeholder:"选择文件", input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-push">上传</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">PPT：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true,  placeholder:"选择文件", input_html: { value: @player.try(:degree)} %> 
          <% end %>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-push">上传</button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center form-bottom">
    <%= f.button :submit, "提  交", class: "btn_push_sure", data: {disable_with: '提交中...'} %>
  </div>
<% end %>
