<div class="container">
	<!-- 路径导航 -->
	<ol class="breadcrumb">
	  <li><%= link_to "首页", root_path %></li>
	  <li><%= link_to "赛事公告", notifications_path %></li>
	  <li class="active">详情</li>
	</ol>
	<div class="row notification-show">
		<div class="col-md-9">
			<div class="notification-pdf">
				<%#= pdfjs_viewer pdf_url: "/sample.pdf", style: :minial %>
				<%= pdfjs_viewer pdf_url: @notification.paper.try(:url), style: :full %>
			</div>
		</div>
		<div class="col-md-3">
			<div class="notification-info">
				<!-- 信息 -->
				<div class="info-tab">
					<div class="info-tab-head">比赛名称</div>
					<div class="info-tab-content"><%= @activity.try(:name) %></div>
				</div>
				<div class="info-tab">
					<div class="info-tab-head">比赛报名截止日期</div>
					<div class="info-tab-content"><%= @activity.end_time.strftime("%Y年%m月%d日") %></div>
				</div>
				<div class="info-tab">
					<div class="info-tab-head">比赛报名形式</div>
					<div class="info-tab-content">网上报名</div>
				</div>
				<div class="info-tab">
					<div class="info-tab-head">已报名人数</div>
					<div class="info-tab-content">
						<%= image_tag "user.svg" %>
						<%= "已有#{@activity.recruits.count}人报名" %>
					</div>
				</div>
				<!-- 比赛通知下载，报名入口 -->
				<% is_end = Time.zone.now > @activity.end_time %>

				<% 
					if @activity.type[0..3] == "Info" 
						new_path = new_info_competition_activity_recruit_path(1)
					else
						new_path = new_talk_competition_activity_recruit_path(2)
					end
				%>

				<div class="info-bottom">				
					<%= link_to(@notification.paper.try(:url), class: "btn info-download") do %>
						<%= image_tag "download.svg" %>&nbsp;&nbsp;比赛通知下载
					<% end %>

					<% if @activity.recruit? current_player %>
						<% recruit = @activity.player_recruit current_player %>

						<% if recruit.opus %>
							<%= link_to(recruit.opus, class: "btn info-upload") do %>
								<%= image_tag "entry.svg" %>&nbsp;&nbsp;查看作品详情
							<% end %>
						<% else %>
							<%= link_to([:new, recruit, :opus], class: "btn info-upload") do %>
								<%= image_tag "upload.svg" %>&nbsp;&nbsp;比赛作品上传
							<% end %>
						<% end %>

					<% else %>
						<% if is_end %>
							<%= link_to("", class: "btn apply-entry") do %>
								<%= image_tag "entry.svg" %>&nbsp;&nbsp;报名已截止
							<% end %>
						<% else %>
							<%= link_to(new_path, class: "btn apply-entry") do %>
								<%= image_tag "entry.svg" %>&nbsp;&nbsp;马上报名
							<% end %>
						<% end %>
					<% end %>
				</div>

			</div>
		</div>
	</div>
</div>