<% content_for :breadcrumb do %>
<li><%= link_to @activity.short_name, "#" %></li>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="nest">
      <div class="tool-bar pull-right">
        
      </div>
      <div class="body-nest">
        <!-- <p class="lead well">
          
        </p> -->
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>参赛项目</th>
              <th>姓名</th>
              <th>课程名称</th>
              <th>邮箱</th>
              <th>手机</th>
              <th>上传作品</th>
              <th>分配评委</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @recruits.each_with_index do |recruit, index| -%>
              <tr>
                <td><%= index+1 %></td>
                <td><%= recruit.project %></td>
                <td><%= recruit.try(:player).try(:info).try(:name) %></td>
                <td><%= recruit.name -%></td>
                <td><%= recruit.try(:player).try(:info).try(:email) %></td>
                <td><%= recruit.try(:player).try(:phone) %></td>
                <td>
                  <% if recruit.opus.present? %>
                    <span class="glyphicon glyphicon-ok text-success"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                  <% end %>
                </td>
                <td>
                  <% if recruit.marks.present? %>
                    <span class="glyphicon glyphicon-ok text-success"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                  <% end %>
                </td>
                <td>
                  <% if recruit.marks.present? %>
                    <%= link_to "已分配", "#", class: "btn btn-xs btn-primary disabled" %>
                  <% else %>
                    <%= link_to "分配评委", new_admin_mark_path(activity_id: params[:activity_id], recruit_id: recruit), remote: true, format: :js, class: "btn btn-xs btn-primary" %>
                  <% end %>
                </td> 
              </tr>
            <% end -%>
          </tbody>
        </table>

        <div class="text-center">
          <div class="pagination pagination-centered">
            <div class='row'><%= will_paginate @recruits, :renderer => BootstrapPagination::Rails ,:remote => {:update => 'messages'} %></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render partial: "/admin/share/admin_modal" %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#recruit_experts").select2();
  });
</script>
