<div class="container">
  <ol class="breadcrumb">
    <span>您的位置</span>
    <li><%= link_to "首页", root_path %></li>
    <li class="active">个人中心</li>
  </ol>
  <%=  render partial: "center/player_info_tab"%>
  <div class="panel panel-default tab_cotent">
    <% unless current_player %>
      <div class="panel-heading tab_head">
        <%= image_tag("TabTitleBg.png", class: "bg_image")%>
        <div class="tab_title_text">个人中心</div>
      </div>
    <% end %>
    <div class="center_cotent row">
      <div class="center_left_nav col-md-2">
        <ul>
          <% @activities.each do |activity| %>
            <li class="<%= "active" if params[:controller] == 'center' && params[:action] == 'show'%>">
              <%=link_to "/center/activities/#{activity.id}/#{activity.route_type}/1" do %>
                <p class="text-center"><strong class="left_nav_left_line">|</strong><span class="color_label_info"><%= activity.short_name %></span></p>
              <% end %>
            </li>  
          <% end %>
        </ul>
      </div>

      <div class="center_right_content col-md-10">
        <h4>报名参赛！</h4>
      </div>
    </div>
  </div>
</div>