<div class="row">
  <div class="col-sm-12">
    <div class="nest">
      <div class="title-alt col-sm-7">
        <h6>2016年上海高等职业院校电子信息大类教师说课比赛报名汇总表</h6>
      </div>
      <div class="col-sm-5 pull-right text-right">
        <%= link_to print_admin_activity_info_competitions_path(activity_id: @activity.id) do %>
          <i class="icon-print"></i>打印汇总
        <% end %>
      </div>
      <div class="body-nest">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>参赛课程</th>
              <th>手机</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @recruits.each_with_index do |recruit, index| -%>
            <tr>
              <th><%= index + 1 -%></th>
              <th><%= recruit.cooperater_1 -%></th>
              <th><%= recruit.name -%></th>
              <th><%= recruit.player.phone -%></th>
              <th></th>
            </tr>
            <% end -%>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <div class="pagination pagination-centered">
                  <div class='row'><%= will_paginate @recruits, :renderer => BootstrapPagination::Rails ,:remote => {:update => 'messages'} %></div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
