<div class="col-sm-12">
  <a href="#" class="btn btn-primary btn-block" onclick="preview();">打印</a>
</div>
<!--startprint-->
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>参赛课程</th>
      <th>邮箱</th>
      <th>手机</th>
      <th>作品</th>
    </tr>
  </thead>
  <tbody>
    <% @recruits.each_with_index do |recruit, index| -%>
    <tr>
      <td><%= index + 1 -%></td>
      <td><%= recruit.try(:player).try(:info).try(:name) %></td>
      <td><%= recruit.name -%></td>
      <td><%= recruit.try(:player).try(:info).try(:email) %></td>
      <td><%= recruit.player.phone -%></td>
      <td>
        <% if recruit.opus.present? %>
          <span class="glyphicon glyphicon-ok text-success"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove text-danger"></span>
        <% end %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>
<!--endprint-->
<script>
  function preview() {    
    bdhtml=window.document.body.innerHTML;    
    sprnstr="<!--startprint-->";    
    eprnstr="<!--endprint-->";    
    prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));  
    window.document.body.innerHTML=prnhtml;    
    window.print();    
  }  
</script>
