<div class="container">
	<!-- banner -->
	<div id="slide_banner" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#slide_banner" data-slide-to="0" class="active"></li>
	    <li data-target="#slide_banner" data-slide-to="1" class=""></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <%= image_tag "banner_one.png" %>
	    </div>
	    <div class="item">
	      <%= image_tag "banner_one.png" %>
	    </div>
	  </div>
	  <a class="left carousel-control" href="#slide_banner" role="button" data-slide="prev">
			<img src="<%= asset_path "banner_left_icon.svg" %>" aria-hidden="true" alt="left">
		  
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#slide_banner" role="button" data-slide="next">
	    <img src="<%= asset_path "banner_right_icon.svg" %>" aria-hidden="true" alt="left">
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<!-- 比赛倒计时 -->
	<div class="compete-entry clearfix">
		<div class="vertical-line"></div>
		<% @activities.last(2).each do |activity| %>
			<div class="col-md-6 text-center">
				<div class="compete-info">
					<span class="title">
						<%= link_to "距#{activity.short_name}报名截止", notification_path(activity.id), "data-turbolinks" => false %>
					</span>
					<span class="apply">
						<%= link_to "马上报名", [:new, activity, :recruit] %>
					</span>
					<span class="date"><%= activity.left_days %></span>
					<span class="unit">天</span>
				</div>
			</div>
		<% end %>
	</div>
	<!-- 赛事公告 -->
	<div class="global-tab broad-cast">
		<div class="global-tab-head">
			<div class="title">赛事公告</div>
			<div class="more">
				<%= link_to "更多》", "#" %>
			</div>
		</div>
		<div class="global-tab-content">
			<div class="vertical-line"></div>
			<div class="row">
				<% @notifications.last(2).each do |notification| %>
					<div class="col-md-6">
						<p class="content-title">
							<%= notification.title %>
						</p>
						<p class="content-abstract">
							<%= notification.content.truncate(200) %>
						</p>
						<%= link_to "阅读更多》", notification_path(notification.id), class: "content-more", "data-turbolinks" => false %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>