<div class="container">
  <%= link_to "打印", "#", class: "btn btn-info btn-block", onclick: "preview();" %>
</div>
<!--startprint-->
<div class="container">
  <div class="word-one">
    <h4 class="text-center">
      <%= @talk_competition_recruits.first.try(:activity).try(:name) %>
    </h4>
    <h4 class="text-center">报名汇总表</h4>

    <% if params[:action] != "all" %>
      <div class="base-info text-left">
        院校名称（盖章）：<%= @talk_competition_recruits.first.try(:school).try(:name) %>&nbsp;&nbsp;&nbsp;&nbsp;
        院校联系人：<%= @talk_competition_recruits.first.try(:school_person) %>&nbsp;&nbsp;&nbsp;&nbsp;
        电话（手机）：<%= @talk_competition_recruits.first.try(:school_phone) %>
      </div>
    <% end %>

    <table class="table table-bordered print-table">
      <tbody>
        <tr>
          <td style="width: 56px;">序号</td>
          <td style="width: 56px;">姓名</td>
          <td>院校名称</td>
          <td>专业大类名称</td>
          <td>课程名称</td>
          <td>选手邮箱</td>
          <td>选手手机</td>
          <td>院校手机</td>
          <td>作品</td>
        </tr>
        <% @talk_competition_recruits.each_with_index do |recruit, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= recruit.try(:player).try(:info).try(:name) %></td>
            <td><%= recruit.try(:school).try(:name) %></td>
            <td><%= recruit.try(:player).try(:info).try(:special) %></td>
            <td><%= recruit.try(:name) %></td>
            <td><%= recruit.try(:player).try(:info).try(:email) %></td>
            <td><%= recruit.try(:player).try(:info).try(:phone) %></td>
            <td><%= recruit.try(:school_phone) %></td>
            <td>
              <% if recruit.opus.present? %>
                <span class="glyphicon glyphicon-ok text-success"></span>
              <% else %>
                <span class="glyphicon glyphicon-remove text-danger"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<!--endprint-->

<script>
  function preview()
  {
    bdhtml=window.document.body.innerHTML;
    sprnstr="<!--startprint-->";
    eprnstr="<!--endprint-->";
    prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
    window.document.body.innerHTML=prnhtml;
    window.print();
  }
</script>
