<div class="container">
  <button class="btn btn-info btn-block" onclick="preview();">打印</button> 
</div>
<!--startprint-->
<div class="container">
  <div class="word-one">
    <h4 class="text-center">
      <%= @talk_competition_recruits.first.activity.name %>
    </h4>
    <h4 class="text-center">报名汇总表</h4>

    <div class="base-info text-left">
      院校名称（盖章）：<%= @talk_competition_recruits.first.school.name %>&nbsp;&nbsp;&nbsp;&nbsp;
      院校联系人：<%= @talk_competition_recruits.first.school_person %>&nbsp;&nbsp;&nbsp;&nbsp;
      电话（手机）：<%= @talk_competition_recruits.first.school_phone %>
    </div>

    <table class="table table-bordered print-table">
      <tbody>
        <tr>
          <td style="width: 56px;">序号</td>
          <td style="width: 56px;">姓名</td>
          <td>院校名称</td>
          <td>专业大类名称</td>
          <td>参赛课程</td>
          <td>&nbsp;&nbsp;手机&nbsp;&nbsp;</td>
        </tr>
        <% @talk_competition_recruits.each_with_index do |recruit, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= recruit.player.info.name %></td>
            <td><%= recruit.school.name %></td>
            <td><%= recruit.player.info.special %></td>
            <td><%= recruit.try(:name) %></td>
            <td><%= recruit.school_phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<!--endprint-->

<script>
  function preview()    
  {    
    bdhtml=window.document.body.innerHTML;    
    sprnstr="<!--startprint-->";    
    eprnstr="<!--endprint-->";    
    prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
    prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));  
    window.document.body.innerHTML=prnhtml;    
    window.print();    
  }  
</script>