<!-- # == Schema Information
#
# Table name: info_competition_recruits
#
#  id           :integer          not null, primary key
#  player_id    :integer
#  school_id    :integer
#  activity_id  :integer
#  created_at   :datetime         not null
#  updated_at   :datetime         not null
#  project      :string
#  name         :string
#  version      :string
#  comment      :text
#  cooperater_1 :string
#  school_1     :string
#  course_1     :string
#  cooperater_2 :string
#  school_2     :string
#  course_2     :string
#  cooperater_3 :string
#  school_3     :string
#  course_3     :string
#
# -->

<!-- #  id                     :integer          not null, primary key
#  phone                  :string           default(""), not null
#  encrypted_password     :string           default(""), not null
#  reset_password_token   :string
#  reset_password_sent_at :datetime
#  remember_created_at    :datetime
#  sign_in_count          :integer          default(0), not null
#  current_sign_in_at     :datetime
#  last_sign_in_at        :datetime
#  current_sign_in_ip     :string
#  last_sign_in_ip        :string
#  school_id              :integer -->

<!-- #  id                 :integer          not null, primary key
#  name               :string
#  card_number        :string 身份证号码
#  address            :string 地址
#  code               :string 邮编
#  sex                :integer 性别
#  nation             :string
#  player_id          :integer
#  school_id          :integer
#  created_at         :datetime         not null
#  updated_at         :datetime         not null
#  birth              :date
#  professional_title :string
#  degree             :string
#  special            :string
#  email              :string -->

<%= simple_form_for([@info_competition_activity, @info_competition_recruit], url:info_competition_activity_recruits_path , wrapper: :apply_horizontal_form) do |f| %>
  <%= f.error_notification %>

	<div class="form-row">
		<div class="form-left">参赛院校</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-3">
					<%= f.association :school, label: false, required: true, wrapper: :vertical_form %>
				</div>
				<div class="col-md-5">
					<%= f.input :school_person, label: "院校联系人", required: true, wrapper: :apply_form %>
				</div>
				<div class="col-md-4">
					<%= f.input :school_phone, type: "phone", label: "联系人手机", wrapper: :apply_form, required: true %>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="form-row">
		<div class="form-left">姓名</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-5">
							<%= f.simple_fields_for("player_info") do |r| %>
								<%= r.input "name", label: false,required: true %>
							<% end %>
						</div>
						<div class="col-xs-7 form-sex">
							<%= f.simple_fields_for("player_info") do |r| %>
								性别：<%= r.collection_radio_buttons "sex", [[true, '男'] ,[false, '女']], :first, :last, required: true %>
							<% end %>
						</div>
					</div>

				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "birth", label: "生日", as: :date, html5: true, wrapper: :apply_horizontal_form, required: true %>							
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">职称</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "professional_title", label: false, required: true %>	
					<% end %>
				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "email", label: "电子邮箱", required: true %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">参与项目</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.input :project, label: false, required: true %>
				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input :special, label: "专业名称", required: true %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">课程名称</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.input :name, label: false, required: true %>		
				</div>
				<div class="col-md-6">
					<%= f.input :version, label: "教材版本", required: true %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">创作说明</div>
		<div class="form-right">
			<%= f.input :comment, as: :text, label: false, wrapper: :vertical_form, input_html: {rows: 8}, required: true %>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-left">作者排序</div>
		<div class="form-right">
			<div class="gray-text">限信息化教学设计比赛、网络课程比赛填写</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">&nbsp;</div>
		<div class="form-right black-label">
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_1, wrapper: :vertical_form, label: "作者姓名", required: true %></div>
				<div class="col-md-4"><%= f.input :school_1, wrapper: :vertical_form, label: "单位名称", required: true %></div>
				<div class="col-md-6"><%= f.input :course_1, wrapper: :vertical_form, label: "任教课程", required: true %></div>
			</div>
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_2, wrapper: :vertical_form, label: "作者姓名", required: true %></div>
				<div class="col-md-4"><%= f.input :school_2, wrapper: :vertical_form, label: "单位名称", required: true %></div>
				<div class="col-md-6"><%= f.input :course_2, wrapper: :vertical_form, label: "任教课程", required: true %></div>
			</div>
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_3, wrapper: :vertical_form, label: "作者姓名", required: true %></div>
				<div class="col-md-4"><%= f.input :school_3, wrapper: :vertical_form, label: "单位名称", required: true %></div>
				<div class="col-md-6"><%= f.input :course_3, wrapper: :vertical_form, label: "任教课程", required: true%></div>
			</div>
		</div>
	</div>
  
  <div class="text-center form-bottom">
<!-- 	  <div class="form-group choice">
	  	<div class="checkbox">
	  		<%= check_box_tag 'accept' %>
	  		<label class="boolean optional" for="accept">是否保证您所报送的作品无任何版权异议或纠纷</label>
	  	</div>
	  </div> -->
  	<%= f.button :submit, "提交报名", class: "apply-btn" %>
  </div>
<% end %>