<!-- # == Schema Information
#
# Table name: info_competition_recruits
#
#  id           :integer          not null, primary key
#  player_id    :integer
#  school_id    :integer
#  activity_id  :integer
#  created_at   :datetime         not null
#  updated_at   :datetime         not null
#  project      :string
#  name         :string
#  version      :string
#  comment      :text
#  cooperater_1 :string
#  school_1     :string
#  course_1     :string
#  cooperater_2 :string
#  school_2     :string
#  course_2     :string
#  cooperater_3 :string
#  school_3     :string
#  course_3     :string
#
# -->

<!-- #  id                     :integer          not null, primary key
#  phone                  :string           default(""), not null
#  encrypted_password     :string           default(""), not null
#  reset_password_token   :string
#  reset_password_sent_at :datetime
#  remember_created_at    :datetime
#  sign_in_count          :integer          default(0), not null
#  current_sign_in_at     :datetime
#  last_sign_in_at        :datetime
#  current_sign_in_ip     :string
#  last_sign_in_ip        :string
#  school_id              :integer -->

<%= simple_form_for(@info_competition_recruit, wrapper: :apply_horizontal_form) do |f| %>
  <%= f.error_notification %>

	<div class="form-row">
		<div class="form-left">参赛院校</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-4">
					<%= f.association :school, label: false %>
				</div>
				<div class="col-md-4">
					<%= f.input :name, label: "院校联系人" %>
				</div>
				<div class="col-md-4">
					<%= f.input :name, label: "院校联系人手机" %>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="form-row">
		<div class="form-left">姓名</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6"><%= f.input :name, label: false %></div>
				<div class="col-md-6"><%= f.input :name, label: "生日" %></div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">职称</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6"><%= f.input :name, label: false %></div>
				<div class="col-md-6"><%= f.input :name, label: "电子邮箱" %></div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">参与项目</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6"><%= f.input :project, label: false %></div>
				<div class="col-md-6"><%= f.input :name, label: "专业名称" %></div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">课程名称</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6"><%= f.input :name, label: false %></div>
				<div class="col-md-6"><%= f.input :version, label: "教材版本" %></div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">创作说明</div>
		<div class="form-right">
			<%= f.input :comment, as: :text, label: false, wrapper: :vertical_form, input_html: {rows: 8} %>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-left">作者排序</div>
		<div class="form-right">
			<div class="gray-text">限信息化教学设计比赛、网络课程比赛填写</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">&nbsp;</div>
		<div class="form-right black-label">
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_1, wrapper: :vertical_form, label: "作者姓名" %></div>
				<div class="col-md-4"><%= f.input :school_1, wrapper: :vertical_form, label: "单位名称" %></div>
				<div class="col-md-6"><%= f.input :course_1, wrapper: :vertical_form, label: "任教课程" %></div>
			</div>
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_2, wrapper: :vertical_form, label: "作者姓名" %></div>
				<div class="col-md-4"><%= f.input :school_2, wrapper: :vertical_form, label: "单位名称" %></div>
				<div class="col-md-6"><%= f.input :course_2, wrapper: :vertical_form, label: "任教课程" %></div>
			</div>
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_3, wrapper: :vertical_form, label: "作者姓名" %></div>
				<div class="col-md-4"><%= f.input :school_3, wrapper: :vertical_form, label: "单位名称" %></div>
				<div class="col-md-6"><%= f.input :course_3, wrapper: :vertical_form, label: "任教课程" %></div>
			</div>
		</div>
	</div>
  
  <div class="text-center form-bottom">
		<%= f.input :name, as: :boolean, boolean_style: :inline, wrapper_html: {class: 'choice'}, label: "是否保证您所报送的作品无任何版权异议或纠纷" %>
  	<%= f.button :submit, "提交报名", class: "apply-btn" %>
  </div>
<% end %>
