<%= simple_form_for([@info_competition_activity, @info_competition_recruit], url:info_competition_activity_recruits_path , wrapper: :apply_horizontal_form) do |f| %>
  <%= f.error_notification %>

	<div class="form-row">
		<div class="form-left">参赛院校</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-3">
					<%= f.association :school, label: false, required: true, wrapper: :vertical_form, selected: @first_recruit.try(:school).try(:id), prompt: "选择院校" %>
				</div>
				<div class="col-md-5">
					<%= f.input :school_person, label: "院校联系人", required: true, wrapper: :apply_form, input_html: {value: @first_recruit.try(:school_person)} %>
				</div>
				<div class="col-md-4">
					<%= f.input :school_phone, type: "phone", label: "联系人手机", wrapper: :apply_form, required: true, input_html: {value: @first_recruit.try(:school_phone)} %>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="form-row">
		<div class="form-left">姓名</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-5">
							<%= f.simple_fields_for("player_info") do |r| %>
								<%= r.input "name", label: false,required: true, input_html: {value: @player.try(:name)} %>
							<% end %>
						</div>
						<div class="col-xs-7 form-sex">
							<%= f.simple_fields_for("player_info") do |r| %>
								性别：<%= r.collection_radio_buttons "sex", [[:male, '男'] ,[:female, '女']], :first, :last, required: true, checked: @player.try(:sex) %>
							<% end %>
						</div>
					</div>

				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "birth", label: "出生日期", wrapper: :apply_horizontal_form, required: true, input_html: { value: @player.try(:birth)} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">学历</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "degree", label: false, required: true, input_html: { value: @player.try(:degree)} %>	
					<% end %>
				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "nation", label: "民族", required: true, input_html: { value: @player.try(:nation)} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">邮编</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "code", label: false, required: true, input_html: { value: @player.try(:code)} %>	
					<% end %>
				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "card_number", label: "身份证号码", required: true, input_html: { value: @player.try(:card_number)} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">参赛项目</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.input :project, collection: ["信息化教学设计比赛", "信息化课堂教学比赛", "信息化实训教学比赛"], label: false, required: true %>
				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "email", label: "电子邮箱", required: true, input_html: { value: @player.try(:email)} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">职称</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input "professional_title", label: false, required: true, input_html: { value: @player.try(:professional_title)} %>	
					<% end %>
				</div>
				<div class="col-md-6">
					<%= f.simple_fields_for("player_info") do |r| %>
						<%= r.input :special, label: "专业名称", required: true, input_html: { value: @player.try(:special)} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">课程名称</div>
		<div class="form-right">
			<div class="row">
				<div class="col-md-6">
					<%= f.input :name, label: false, required: true %>		
				</div>
				<div class="col-md-6">
					<%= f.input :version, label: "教材版本", required: true %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">创作说明</div>
		<div class="form-right">
			<%= f.input :comment, as: :text, label: false, wrapper: :vertical_form, input_html: {rows: 8}, required: true %>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-left">作者排序</div>
		<div class="form-right">
			<div class="gray-text">限信息化教学设计比赛、网络课程比赛填写</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-left">&nbsp;</div>
		<div class="form-right black-label">
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_1, wrapper: :vertical_form, label: "作者姓名" %></div>
				<div class="col-md-4"><%= f.input :school_1, wrapper: :vertical_form, label: "单位名称" %></div>
				<div class="col-md-6"><%= f.input :course_1, wrapper: :vertical_form, label: "任教课程" %></div>
			</div>
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_2, wrapper: :vertical_form, label: "作者姓名" %></div>
				<div class="col-md-4"><%= f.input :school_2, wrapper: :vertical_form, label: "单位名称" %></div>
				<div class="col-md-6"><%= f.input :course_2, wrapper: :vertical_form, label: "任教课程" %></div>
			</div>
			<div class="row">
				<div class="col-md-2"><%= f.input :cooperater_3, wrapper: :vertical_form, label: "作者姓名" %></div>
				<div class="col-md-4"><%= f.input :school_3, wrapper: :vertical_form, label: "单位名称" %></div>
				<div class="col-md-6"><%= f.input :course_3, wrapper: :vertical_form, label: "任教课程"%></div>
			</div>
		</div>
	</div>
  
  <div class="text-center form-bottom">
<!-- 	  <div class="form-group choice">
	  	<div class="checkbox">
	  		<%= check_box_tag 'accept' %>
	  		<label class="boolean optional" for="accept">是否保证您所报送的作品无任何版权异议或纠纷</label>
	  	</div>
	  </div> -->
  	<%= f.button :submit, "提交报名", class: "apply-btn" %>
  </div>
<% end %>

<script type="text/javascript">
	$.fn.datetimepicker.dates['zh-CN'] = {
	    days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
	    daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
	    daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
	    months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
	    monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
	    today: "今天"
	};
	$('#info_competition_recruit_player_info_birth').datetimepicker({
		format: 'yyyy-mm-dd',
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});
</script>