<div class="container">
	<button class="btn btn-info btn-block" onclick="preview();">打印</button>	
</div>
<!--startprint-->
<div class="container">
	<div class="word-one">
		<h4 class="text-center">2016年上海市高等职业院校（其他类专业）</h4>
		<h4 class="text-center">教师说课大赛报名表</h4>

		<div class="base-info text-center">
			参赛院校：<%= @info_competition_recruit.school.try(:name) %>&nbsp;&nbsp;&nbsp;&nbsp;联系人：<%= @info_competition_recruit.school_person %>&nbsp;&nbsp;&nbsp;&nbsp;手机：<%= @info_competition_recruit.school_phone %>
		</div>

    <table class="table table-bordered print-table">
      <tbody>
        <tr>
	        <td class="left-td">&nbsp;姓&nbsp;&nbsp;名&nbsp;</td>
	        <td><%= @player_info.name %></td>
	        <td class="td-width">性别</td>
	        <td><%= @player_info.sex %></td>
	        <td class="td-width">最高学位</td>
          <td><%= @player_info.degree %></td>
          <td rowspan="4" class="photo">照片</td>
        </tr>
        <tr class="left-td">
          <td >出生年月</td>
          <td><%= @player_info.birth.try(:strftime, "%Y年%m月") %></td>
          <td class="td-width">职称</td>
          <td><%= @player_info.professional_title %></td>
          <td class="td-width">参加教学工作年月</td>
          <td></td>
        </tr>
        <tr class="left-td">
          <td>电子邮箱</td>
          <td><%= @player_info.email %></td>
          <td class="td-width">联系电话</td>
          <td colspan="3"><%= @player_info.phone %></td>
        </tr>
        <tr class="left-td">
          <td>参赛课程</td>
          <td><%= @info_competition_recruit.name %></td>
          <td class="td-width">所属专业</td>
          <td colspan="3"><%= @player_info.special %></td>
        </tr>
        <tr class="text-td">
          <td class="left-td">近三年主讲课程情况</td>
          <td colspan="6"><%= @info_competition_recruit.comment %></td>
        </tr>
        <tr class="text-td">
          <td class="left-td">推荐院校意见</td>
          <td colspan="6" style="vertical-align: bottom;">
          	<div class="stamp">
          		<p class="text-left">（盖章）<div style="width: 250px;"></div></p>
          		<p class="text-right">______年______月______日</p>
          	</div>
          </td>
        </tr>
      </tbody>
    </table>
	</div>

	<div class="word-one">
		<h4 class="text-center" style="padding: 0 30px;">2016年上海市高等职业院校信息化教学大赛暨2016年全国职业院校信息化教学大赛上海市选拔赛</h4>
		<h4 class="text-center">单项报名表</h4>

		<div class="text-left base-info">
			参赛院校：&nbsp;&nbsp;<%= @info_competition_recruit.school.try(:name) %>&nbsp;&nbsp;
			联系人：&nbsp;&nbsp;<%= @info_competition_recruit.school_person %>&nbsp;&nbsp;
			电话（手机）：&nbsp;&nbsp;<%= @info_competition_recruit.school_phone %>&nbsp;&nbsp;
		</div>

		<table class="table table-bordered print-table">
      <tbody>
        <tr>
	        <td class="left-td">&nbsp;姓&nbsp;&nbsp;名&nbsp;</td>
          <td><%= @player_info.name %></td>
					<td style="width: 56px;">性别</td>
					<td><%= @player_info.sex %></td>
					<td style="width: 56px;">年龄</td>
					<td><%= @player_info.age %></td>
					<td style="width: 112px;">职称</td>
					<td><%= @player_info.professional_title %></td>
					<td style="width: 56px;">职务</td>
					<td></td>
        </tr>

        <tr class="left-td">
          <td>单位</td>
          <td colspan="5"><%= @info_competition_recruit.school.try(:name) %></td>
					<td>电子邮箱</td>
					<td colspan="3"><%= @player_info.email %></td>
        </tr>

        <tr class="left-td">
          <td>参赛项目</td>
          <td colspan="5"><%= @info_competition_recruit.project %></td>
					<td>专业名称</td>
					<td colspan="3"><%= @player_info.special %></td>
				</tr>

        <tr class="left-td">
          <td>课程名称</td>
          <td colspan="5"><%= @info_competition_recruit.name %></td>
					<td>参赛内容</td>
					<td colspan="3"></td>
        </tr>

        <tr class="left-td">
          <td>教材版本</td>
          <td colspan="5"><%= @info_competition_recruit.version %></td>
					<td>手机号码</td>
					<td colspan="3"><%= @player_info.phone %></td>
        </tr>

        <tr style="height: 150px;">
          <td class="left-td">创作说明</td>
					<td colspan="9" class="top" style="text-align: left;">（包括创作思路与作品特色等）</td>
        </tr>

        <tr>
        	<td rowspan="6">作者排序（限信息化教学设计比赛、网络课程比赛填写）<br><%= @info_competition_recruit.comment %></td>
        	<td colspan="3">作者姓名</td>
        	<td colspan="3">单位名称</td>
        	<td colspan="3">任教课程</td>
        </tr>
        <tr>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.cooperater_1 %></td>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.school_1 %></td>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.course_1 %></td>
        </tr>
        <tr>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.cooperater_2 %></td>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.school_2 %></td>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.course_2 %></td>
        </tr>
        <tr>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.cooperater_3 %></td>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.school_3 %></td>
        	<td colspan="3">&nbsp;<%= @info_competition_recruit.course_3 %></td>
        </tr>
        <tr>
        	<td colspan="3">&nbsp;</td>
        	<td colspan="3">&nbsp;</td>
        	<td colspan="3">&nbsp;</td>
        </tr>
        <tr>
        	<td colspan="3">&nbsp;</td>
        	<td colspan="3">&nbsp;</td>
        	<td colspan="3">&nbsp;</td>
        </tr>

        <tr style="height: 120px;">
          <td class="left-td">说明</td>
					<td colspan="9" class="top" style="text-align: left;">
						<p>
							是否保证您所报送的作品无任何版权异议或纠纷&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="是"> 是&nbsp;&nbsp;
							<input type="checkbox" name="否"> 否
						</p>
						<p class="text-right">
							签字：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
						</p>
						<p>&nbsp;</p>
						<p>
						是否同意“组委会”将作品制作成集锦共享或出版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="是"> 是&nbsp;&nbsp;
							<input type="checkbox" name="否"> 否
						</p>
						<p class="text-right">
							签字：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
						</p>
					</td>
        </tr>
        <tr style="height: 120px;">
          <td class="left-td">创作说明</td>
					<td colspan="9" class="bottom" style="text-align: right;">
						年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日（ 加盖公章 ）
					</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<!--endprint-->

<script>
	function preview()    
  {    
	  bdhtml=window.document.body.innerHTML;    
	  sprnstr="<!--startprint-->";    
	  eprnstr="<!--endprint-->";    
	  prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17);
	  prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));  
	  window.document.body.innerHTML=prnhtml;    
	  window.print();    
	}  
</script>