<div class="panel panel-default tab_cotent">
  <div class="panel-heading tab_head center_right_panel_heading">
    <%= image_tag("info_bg.png", class: "bg_image")%>
    <div class="tab_title_text color_label">评分记录表</div>
  </div>
  <div class="center_cotent row">
    <table class="table table-bordered text-center">
      <thead class="color_label">
        <tr class="table-head">
          <!-- <th>
            <input type="button" class="btn btn-info" name="select" onclick="javascript:selectAll()" value="全选"/>
          </th> -->
          <th>序号</th>
          <th>作品名称</th>
          <th>参赛项目</th>
          <th>评分</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @recruits.each_with_index do |recruit, index| %>
        <tr>
          <!-- <th>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </label>
            </div>
          </th> -->
          <td><%= index+1 %></td>
          <td><%= recruit.name %></td>
          <td><%= recruit.project %></td>
          <td>
            <% if recruit.marks.where(expert_id:current_expert.id).first.score.present? %>
              <span class="text-success"><%= recruit.marks.where(expert_id:current_expert.id).first.score %></span>
            <% else %>
              <span class="text-danger">待评分</span>
            <% end %>
          </td>
          <td>
            <% if recruit.marks.where(expert_id:current_expert.id).first.score.present? %>
              <%= link_to "查看", recruit.opus, class:"btn btn-success btn-sm", "data-turbolinks" => false %>
            <% else %>
              <% if recruit.opus.present? %>
                <%= link_to "评分", recruit.opus, class:"btn btn-info btn-sm", "data-turbolinks" => false %>
              <% else %>
                <%= link_to "作品未上传", "#", class:"btn btn-info btn-sm disabled" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script language=javascript>
function selectAll(){
  var a = document.getElementsByTagName("input");
  if(a[1].checked){
    for(var i = 0;i<a.length;i++){
      if(a[i].type == "checkbox") a[i].checked = false;
    }
  }else{
    for(var i = 0;i<a.length;i++){
      if(a[i].type == "checkbox") a[i].checked = true;
    }
  }
}
</script>