<%= form_for :mark, as: :post, url: admin_marks_path do |f| %>
  <div class="input-group" style="width: 100%; margin-bottom: 10px;">
  	<%= hidden_field_tag :activity_id, params[:activity_id] %>
  	<%= hidden_field_tag :recruit_id, @recruit.id %>
	  <%= select_tag :recruit_experts, 
  								options_from_collection_for_select(@experts, "id", "name"),
  								multiple: true,
  								required: "required",
  								class: "chosen-select",
									style: "width:100%",
									tabindex: "4",
                  prompt: "所有评分专家",
                  "data-placeholder" => "评分专家(多选)" %>
    <br><br><br>
    <%= f.submit "确认", class: 'btn btn-success btn-block' %>
	</div>
<% end %>

<script type="text/javascript">
  $('select').select2();
</script>