<% marks = recruit.marks %>
<tr class="text-center">
  <td rowspan="3"></td>
  <td rowspan="3"><%= index %></td>
  <td rowspan="3"><%= recruit.total_score.to_f %></td>
  <td rowspan="3"><%= recruit.try(:player_info).try(:name) %></td>
  <td rowspan="3"><%= recruit.try(:school).try(:name) %></td>
  <td rowspan="3"><%= recruit.try(:player_info).try(:special) %></td>
  <td rowspan="3"><%= recruit.name %></td>
  
  <% marks.each do |mark| %>
    <td colspan="5">评委姓名：<%= mark.expert.phone %></td>
  <% end %>
</tr>
<tr>
  <% marks.each do |mark| %>
    <td>总体设计40</td>
    <td>教学过程30</td>
    <td>教学效果15</td>
    <td>特色创新15</td>
    <td>总分</td>
  <% end %>
</tr>
<tr>
  <% marks.each do |mark| %>
    <% (0..3).each do |i| %>
      <td><%= mark.item_array[i].present? ? mark.item_array[i] : 0 %></td>
    <% end %>
    <td><%= mark.score.present? ? mark.score : 0 %></td>
  <% end %>
</tr>