<% marks = recruit.score_marks %>
<tr class="text-center">
  <td rowspan="3"></td>
  <td rowspan="3"><%= index %></td>
  <td rowspan="3"><%= (recruit.avg_score %></td>
  <td rowspan="3"><%= recruit.score_count %></td>
  <td rowspan="3"><%= recruit.try(:player_info).try(:name) %></td>
  <td rowspan="3"><%= recruit.try(:school).try(:name) %></td>
  <td rowspan="3"><%= recruit.try(:player_info).try(:special) %></td>
  <td rowspan="3"><%= recruit.name %></td>
  
  <% marks.each do |mark| %>
    <td colspan="5">评委姓名：<%= mark.expert.phone %></td>
  <% end %>
</tr>
<tr>
  <% if @activity.type == "InfoCompetition::Activity" %>
    <% _mark_items = @activity.mark_items(recruit.project) %>
    <% marks.each do |mark| %>
      <% _mark_items.each do |item| %>
        <td><%= item[:name] %><%= item[:max] %></td>
      <% end %>
      <td>总分</td>
    <% end %>
  <% elsif @activity.type == "TalkCompetition::Activity" %>
    <% _mark_items = @activity.mark_items %>
    <% marks.each do |mark| %>
      <% _mark_items.each do |item| %>
        <td><%= item[:name] %><%= item[:max] %></td>
      <% end %>
      <td>总分</td>
    <% end %>
  <% end %>
</tr>
<tr>
  <% marks.each do |mark| %>
    <% (0..3).each do |i| %>
      <td><%= mark.item_array[i].present? ? mark.item_array[i] : 0 %></td>
    <% end %>
    <td><%= mark.score.present? ? mark.score : 0 %></td>
  <% end %>
</tr>