<%= simple_form_for([@talk_competition_recruit, @talk_competition_opus], url:talk_competition_recruit_opus_path, wrapper: :push_horizontal_form) do |f| %>

  <div class="form-row">
    <div class="form-left">课程名称：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true, disabled: true, input_html: { value: @talk_competition_recruit.try(:name)} %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛内容：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
            <%= f.input "content", required: true, label: false, required: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-left">参赛课程教学计划安排表：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info3">
            <% if @talk_competition_opus.plan.present? %>
              <%= @talk_competition_opus.plan.file_file_name %>
            <% else %>
              选择文件
            <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :plan_attributes do |r| %>
                <% if @talk_competition_opus.plan.present? %>
                  <%= r.file_field :file, label: false, onchange:'$("#upload-file-info3").html($(this).val());$("#upload-file-info3").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file, label: false, required: true, onchange:'$("#upload-file-info3").html($(this).val());$("#upload-file-info3").css({color:"#3D96D5"})' %>
                <% end %>
              <% end %>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-left">说课提纲：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info3">
            <% if @talk_competition_opus.note.present? %>
              <%= @talk_competition_opus.note.file_file_name %>
            <% else %>
              选择文件
            <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :note_attributes do |r| %>
                <% if @talk_competition_opus.note.present? %>
                  <%= r.file_field :file, label: false, onchange:'$("#upload-file-info3").html($(this).val());$("#upload-file-info3").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file, label: false, required: true, onchange:'$("#upload-file-info3").html($(this).val());$("#upload-file-info3").css({color:"#3D96D5"})' %>
                <% end %>
              <% end %>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">PPT：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info4">
            <% if @talk_competition_opus.ppt.present? %>
              <%= @talk_competition_opus.ppt.file_file_name %>
            <% else %>
              选择文件
            <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :ppt_attributes do |r| %>
                <% if @talk_competition_opus.ppt.present? %>
                  <%= r.file_field :file, label: false, onchange:'$("#upload-file-info4").html($(this).val());$("#upload-file-info4").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file, label: false, required: true, onchange:'$("#upload-file-info4").html($(this).val());$("#upload-file-info4").css({color:"#3D96D5"})' %>
                <% end %> 
              <% end %>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center form-bottom">
    <%= f.button :submit, "提  交", class: "btn_push_sure", data: {disable_with: '提交中...'} %>
  </div>
<% end %>