<%= simple_form_for(@journal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :player %>
    <%= f.association :training_course %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :add_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
