<div role="tabpanel" class="tab-pane" id="school">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :apply_horizontal_form) do |f| %>
    <%= f.input :school_id, label:"学校名称", required: false, as: :select, collection: School.all.pluck(:name, :id), class: "school_id_select2" %>
    <%= f.input :password, label: "密 码", required: false %>
    <%= f.button :submit, "登 录", data: {disable_with: '登录中...'}, class: "btn-login" %>
    <div class="sign_up_text">
      <%= link_to "忘记密码?", new_player_password_path, class: "forget_pass" %></td>
    </div>
  <% end %>
</div>