<%= simple_form_for([@info_competition_recruit, @info_competition_opus], url:info_competition_opus_path(@info_competition_opus.id), wrapper: :push_horizontal_form) do |f| %>

  <div class="form-row">
    <div class="form-left">课程名称：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", label: false, required: true, disabled: true, input_html: { value: @info_competition_recruit.try(:name)} %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛内容：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
            <%= f.input "content", required: true, label: false, required: true %> 
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛视频：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info">
          <% if @info_competition_opus.media.present? %>
            <%= @info_competition_opus.media.file_file_name %>
          <% else %>
            选择文件
          <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="type-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push mp4">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :media_attributes do |r| %>
                <% if @info_competition_opus.media.present? %>
                  <%= r.file_field :file,label: false, onchange:'$("#upload-file-info").html($(this).val());$("#upload-file-info").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file,label: false, as: :mp4, required: true, onchange:'$("#upload-file-info").html($(this).val());$("#upload-file-info").css({color:"#3D96D5"})' %>
                <% end %> 
              <% end %>
            </span>
          </label>
        </div>
      </div>
      <div class="text-center warning_text">
        <%= image_tag "warning.svg" %>上传说明：请上传MP4格式的视频，视频大小不超过300M
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">参赛教材：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input">
          <%= f.simple_fields_for :player_info do |r| %>
            <%= r.input "degree", label: false, required: true, disabled: true, input_html: { value: @info_competition_recruit.try(:version)} %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">创作说明：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-6 push-input push-textarea">
          <%= f.simple_fields_for("player_info") do |r| %>
            <%= r.input "degree", as: :text, label: false, disabled: true, wrapper: :vertical_form, input_html: {rows: 3, value: @info_competition_recruit.try(:comment)}, required: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">教案：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info2">
            <% if @info_competition_opus.plan.present? %>
              <%= @info_competition_opus.plan.file_file_name %>
            <% else %>
              选择文件
            <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :plan_attributes do |r| %>
                <% if @info_competition_opus.plan.present? %>
                  <%= r.file_field :file, label: false, onchange:'$("#upload-file-info2").html($(this).val());$("#upload-file-info2").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file, label: false, required: true, onchange:'$("#upload-file-info2").html($(this).val());$("#upload-file-info2").css({color:"#3D96D5"})' %>
                <% end %>
              <% end %>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-left">说课稿：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info3">
            <% if @info_competition_opus.note.present? %>
              <%= @info_competition_opus.note.file_file_name %>
            <% else %>
              选择文件
            <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :note_attributes do |r| %>
                <% if @info_competition_opus.note.present? %>
                  <%= r.file_field :file, label: false, onchange:'$("#upload-file-info3").html($(this).val());$("#upload-file-info3").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file, label: false, required: true, onchange:'$("#upload-file-info3").html($(this).val());$("#upload-file-info3").css({color:"#3D96D5"})' %>
                <% end %>
              <% end %>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-left">PPT：</div>
    <div class="form-right">
      <div class="row">
        <div class="col-md-4 push-input">
          <div class="label1" id="upload-file-info4">
            <% if @info_competition_opus.ppt.present? %>
              <%= @info_competition_opus.ppt.file_file_name %>
            <% else %>
              选择文件
            <% end %>
          </div>
        </div>
        <div class="pull-left layout-type">
          <label class="blank-text">.mp4</label>
        </div>
        <div class="col-md-2">
          <label class="btn btn-push">
            上传
            <span style="display:none;">
              <%= f.simple_fields_for :ppt_attributes do |r| %>
                <% if @info_competition_opus.ppt.present? %>
                  <%= r.file_field :file, label: false, onchange:'$("#upload-file-info4").html($(this).val());$("#upload-file-info4").css({color:"#3D96D5"})' %>
                <% else %>
                  <%= r.file_field :file, label: false, required: true, onchange:'$("#upload-file-info4").html($(this).val());$("#upload-file-info4").css({color:"#3D96D5"})' %>
                <% end %> 
              <% end %>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center form-bottom">
    <%= f.button :submit, "提  交", class: "btn_push_sure", data: {disable_with: '提交中...'} %>
  </div>
<% end %>
<!-- <script type="text/javascript">
  $('.mp4 INPUT[type="file"]').change(function () {
    var ext = this.value.match(/\.(.+)$/)[1];
    switch (ext) {
      case 'mp4':
        $('#uploadButton').attr('disabled', false);
        break;
      default:
        this.value = '';
        $("#upload-file-info").html("选择文件");
        $("#upload-file-info").css({color:"#9B9B9B"})
        alert('文件格式不符合，请重新上传！');
    };
  });
</script> -->