<% content_for :title do %>
  开始打分
<% end %>

<%= render partial: "components/banner" %>

<div class="welcome-title">
	<div style="padding: 0 20px;">
		<table class="table text-center">
			<tr>
				<td style="padding: 11px 8px;"><%= "#{@player_info.name}老师" %></td>
				<td style="padding: 11px 8px;"><%= "《#{@recruit.name}》" %></td>
			</tr>
		</table>
	</div>
</div>

<div class="wrap">
	<div class="grades">
    <%= form_for :mark, method: :put, url: mark_path(activity_id: @recruit.activity) do |f| %>
      <%= hidden_field_tag "type", "info" %>
      <%= hidden_field_tag "opus_id", @info_competition_opus.id %>

      <div class="grade-range">
        <p>
          <%= _mark_items[0][:name] %> 
          <span class="dark-purple">（总分 <%= _mark_items[0][:max] %> 分）</span>
          <span class="pull-right" id="target">0分</span>
        </p>
        <%= range_field_tag :mark_one, 0, min: 0, max: _mark_items[0][:max] , step: 1, id: 'mark_one_input', onChange:'onChangeSum()' %>
      </div>
      
      <div class="grade-range">
        <p> 
          <%= _mark_items[1][:name] %> 
          <span class="dark-purple">（总分 <%= _mark_items[1][:max] %> 分）</span>
          <span class="pull-right" id="content">0分</span>
        </p>
        <%= range_field_tag :mark_two, 0, min: 0, max: _mark_items[1][:max], step: 1, id: 'mark_two_input', onChange:'onChangeSum()' %>
      </div>

      <div class="grade-range">
      <p>
        <%= _mark_items[2][:name] %>
        <span class="dark-purple">（总分 <%= _mark_items[2][:max] %> 分）</span>
        <span class="pull-right" id="plan">0分</span>
      </p>
      <%= range_field_tag :mark_three, 0, min: 0, max: _mark_items[2][:max], step: 1, id: 'mark_three_input', onChange:'onChangeSum()' %>
      </div>

      <div class="grade-range">
        <p>
          <%= _mark_items[3][:name] %>
          <span class="dark-purple">（总分 <%= _mark_items[3][:max] %> 分）</span>
          <span class="pull-right" id="express">0分</span>
        </p>
        <%= range_field_tag :mark_four, 0, min: 0, max: _mark_items[3][:max], step: 1, id: 'mark_four_input', onChange:'onChangeSum()' %>
      </div>

      <div class="grade-range">
        <p>总分<span class="dark-purple">（总分100分）</span><span class="pull-right" id="total">0分</span></p>
      </div>

      <div class="actions">
        <%= f.submit "提交评分", class: "mbtn", data: {data_with: "正在提交..."} %>
      </div>
    <% end %> 
	</div>
</div>

<!-- 返回上一页 -->
<%= render partial: "components/turn_back", locals: { url: phones_path(activity_id: @recruit.activity) } %>

<% content_for :phone_scripts do %>
  <script>
    function onChangeSum(){
      var a = document.getElementById("mark_one_input").value;
      $("#target").text(a+'分');
      var b = document.getElementById("mark_two_input").value;
      $("#content").text(b+'分');
      var c = document.getElementById("mark_three_input").value;
      $("#plan").text(c+'分');
      var d = document.getElementById("mark_four_input").value;
      $("#express").text(d+'分');
      var e = parseFloat(a)+parseFloat(b)+parseFloat(c)+parseFloat(d);
      $("#total").text(e+'分');
      $("#grade_modal .red").text(e);
    };
  </script>
<% end %>