<% content_for :title do %>
  开始打分
<% end %>

<%= render partial: "components/banner" %>

<div class="welcome-title">
	<div style="padding: 0 20px;">
		<table class="table text-center">
			<tr>
				<td style="padding: 11px 8px;"><%= "#{@player_info.name}老师" %></td>
				<td style="padding: 11px 8px;"><%= "《#{@recruit.name}》" %></td>
			</tr>
		</table>
	</div>
</div>

<div class="wrap">
	<div class="grades">
    <%= form_for :mark, method: :put, url: mark_path(activity_id: @recruit.activity) do |f| %>
      <%= hidden_field_tag "type", "info" %>
      <%= hidden_field_tag "opus_id", @info_competition_opus.id %>
      <div class="grade-range">
        <p>
          <%= _mark_items[0][:name] %> 
          <span class="dark-purple">（总分 <%= _mark_items[0][:max] %> 分）</span>
          <span class="pull-right" id="target">0分</span>
        </p>
        <%= range_field_tag :mark_one, 0, min: 0, max: _mark_items[0][:max] , step: 1, id: 'mark_one_input', onChange:'onChangeSum()' %>
      </div>
      
      <div class="grade-range">
        <p> 
          <%= _mark_items[1][:name] %> 
          <span class="dark-purple">（总分 <%= _mark_items[1][:max] %> 分）</span>
          <span class="pull-right" id="content">0分</span>
        </p>
        <%= range_field_tag :mark_two, 0, min: 0, max: _mark_items[1][:max], step: 1, id: 'mark_two_input', onChange:'onChangeSum()' %>
      </div>

      <div class="grade-range">
      <p>
        <%= _mark_items[2][:name] %>
        <span class="dark-purple">（总分 <%= _mark_items[2][:max] %> 分）</span>
        <span class="pull-right" id="plan">0分</span>
      </p>
      <%= range_field_tag :mark_three, 0, min: 0, max: _mark_items[2][:max], step: 1, id: 'mark_three_input', onChange:'onChangeSum()' %>
      </div>

      <div class="grade-range">
        <p>
          <%= _mark_items[3][:name] %>
          <span class="dark-purple">（总分 <%= _mark_items[3][:max] %> 分）</span>
          <span class="pull-right" id="express">0分</span>
        </p>
        <%= range_field_tag :mark_four, 0, min: 0, max: _mark_items[3][:max], step: 1, id: 'mark_four_input', onChange:'onChangeSum()' %>
      </div>

      <div class="grade-range">
        <p>总分<span class="dark-purple">（总分100分）</span><span class="pull-right" id="total">0分</span></p>
      </div>

      <div class="actions">
        <%= f.submit "提交评分", class: "mbtn", data: {data_with: "正在提交..."} %>
      </div>
    <% end %> 
	</div>
</div>

<!-- 返回上一页 -->
<%= render partial: "components/turn_back", locals: { url: phones_path(activity_id: @recruit.activity), fixed: false } %>

<% content_for :phone_scripts do %>
  <script>
    function onChangeSum(){
      var a = document.getElementById("mark_one_input").value;
      $("#target").text(a+'分');
      var b = document.getElementById("mark_two_input").value;
      $("#content").text(b+'分');
      var c = document.getElementById("mark_three_input").value;
      $("#plan").text(c+'分');
      var d = document.getElementById("mark_four_input").value;
      $("#express").text(d+'分');
      var e = parseFloat(a)+parseFloat(b)+parseFloat(c)+parseFloat(d);
      $("#total").text(e+'分');
      $("#grade_modal .red").text(e);
    };
  </script>
<% end %>
     <!--  <div class="row">
        <div class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 mark-title"><%#= _mark_items[0][:name] %></div>
        <div class="col-md-1 col-xs-1 mark-range">0分</div>
        <div id="Demo" class="progressTime col-md-6 col-xs-6" >
          <div id="Main">
            <div id="scrollBar">
              <div id="scroll_Track"><p id="scrollBarTxt" style="text-align:right;"></p></div>
              <div class="thumb_class" id="scroll_Thumb"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-xs-1 mark-range"><%#= _mark_items[0][:max] %>分</div>
      </div>

      <div class="row">
        <div class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 mark-title"><%#= _mark_items[1][:name] %></div>
        <div class="col-md-1 col-xs-1 mark-range">0分</div>
        <div id="Demo1" class="progressTime col-md-6 col-xs-6" >
          <div id="Main1">
            <div id="scrollBar1">
              <div id="scroll_Track1"><p id="scrollBarTxt1" style="text-align:right;"></p></div>
              <div class="thumb_class" id="scroll_Thumb1"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-xs-1 mark-range"><%#= _mark_items[1][:max] %>分</div>
      </div>

      <div class="row">
        <div class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 mark-title"><%#= _mark_items[2][:name] %></div>
        <div class="col-md-1 col-xs-1 mark-range">0分</div>
        <div id="Demo2" class="progressTime col-md-6 col-xs-6" >
          <div id="Main2">
            <div id="scrollBar2">
              <div id="scroll_Track2"><p id="scrollBarTxt2" style="text-align:right;"></p></div>
              <div class="thumb_class" id="scroll_Thumb2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-xs-1 mark-range"><%#= _mark_items[2][:max] %>分</div>
      </div>

      <div class="row">
        <div class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 mark-title"><%#= _mark_items[3][:name] %></div>
        <div class="col-md-1 col-xs-1 mark-range">0分</div>
        <div id="Demo3" class="progressTime col-md-6 col-xs-6" >
          <div id="Main3">
            <div id="scrollBar3">
              <div id="scroll_Track3"><p id="scrollBarTxt3" style="text-align:right;"></p></div>
              <div class="thumb_class" id="scroll_Thumb3"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-xs-1 mark-range"><%#= _mark_items[3][:max] %>分</div>
      </div>
    </form>
    <div class="btn_phone">
      <%#= form_for :mark, method: :put, url: mark_path(activity_id: @recruit.activity) do |f| %>
        <%#= hidden_field_tag "itemArray[]"%>
        <%#= hidden_field_tag "type", "info" %>
        <%#= hidden_field_tag "opus_id", @info_competition_opus.id %>
        <label class="total-points-label">总分&nbsp&nbsp</label><label class="total-points" id="total_points">0</label><label class="unit">&nbsp&nbsp分</label>
        <!-- 评分表单提交 -->
        <%#= f.submit "提交评分", class: 'btn btn-total-points', data: {data_with: "正在提交..."} %>
      <%#= end %>
    <!-- </div>
	</div>
</div> -->

<!-- <script type="text/javascript">
//总体设计评分条
  var ScrollBar = {
      value: <%#= _mark_items[0][:max] / 10 %>,
      maxValue: <%#= _mark_items[0][:max] %>,
      step: 1,
      currentX: 0,
      Initialize: function (itemArray) {
          if (this.value > this.maxValue) {
              alert("给定当前值大于了最大值");
              return;
          }
          this.GetValue();
          $("#scroll_Track").css("width", this.currentX - 18 + "px");
          $("#scroll_Thumb").css("margin-left", this.currentX - 20 + "px");
          this.Value(itemArray);
      },
      Value: function (itemArray) {
          var valite = false;
          var currentValue = 0;
          // $("#scroll_Thumb").mousedown(function () {
          $("#scroll_Thumb").bind('touchstart', function() {
              valite = true;
              // $(document.body).mousemove(function (event) {
                $("#scroll_Thumb").bind('touchmove', function(event) {
                  console.log(event.originalEvent.targetTouches[0].pageX);
                  if (valite == false) return;
                  var changeX = event.originalEvent.targetTouches[0].pageX - ScrollBar.currentX;
                  currentValue = changeX - ScrollBar.currentX - $("#Demo").offset().left;
                  $("#scroll_Thumb").css("margin-left", currentValue - 10 + "px");
                  $("#scroll_Track").css("width", currentValue + "px");
                  if ((currentValue + 5) >= $("#scrollBar").width()) {
                      $("#scroll_Thumb").css("margin-left", $("#scrollBar").width() - 10 + "px");
                      $("#scroll_Track").css("width", $("#scrollBar").width() + 2 + "px");
                      ScrollBar.value = ScrollBar.maxValue;
                  } else if (currentValue <= 0) {
                      $("#scroll_Thumb").css("margin-left", "-8px");
                      $("#scroll_Track").css("width", "0px");
                      ScrollBar.value = 0;
                  } else {
                      ScrollBar.value = Math.round(<%#= _mark_items[0][:max] %> * (currentValue / $("#scrollBar").width()));
                  }
                  $("#scrollBarTxt").html(ScrollBar.value);
                  $("#design").html(ScrollBar.value);
                  itemArray[0] = ScrollBar.value;
                  $("#itemArray_").value = itemArray;
                  $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
              });
          });
          $("#scroll_Thumb").bind('touchend', function(){
          // $(document.body).mouseup(function () {
              ScrollBar.value = Math.round(<%#= _mark_items[0][:max] %> * (currentValue / $("#scrollBar").width()));
              valite = false;
              if (ScrollBar.value >= ScrollBar.maxValue) ScrollBar.value = ScrollBar.maxValue;
              if (ScrollBar.value <= 0) ScrollBar.value = 0;
              $("#scrollBarTxt").html(ScrollBar.value);
              $("#design").html(ScrollBar.value);
              $("#itemArray_").value = itemArray;
              itemArray[0] = ScrollBar.value;
              $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
          });
      },
      GetValue: function () {
          this.currentX = $("#scrollBar").width() * (this.value / this.maxValue);
      }
  }
//教学过程
  var ScrollBar1 = {
      value: <%#= _mark_items[1][:max] / 10 %>,
      maxValue: <%#= _mark_items[1][:max] %>,
      step: 1,
      currentX: 0,
      Initialize: function (itemArray) {
          if (this.value > this.maxValue) {
              alert("给定当前值大于了最大值");
              return;
          }
          this.GetValue();
          $("#scroll_Track1").css("width", this.currentX - 18 + "px");
          $("#scroll_Thumb1").css("margin-left", this.currentX - 20 + "px");
          this.Value(itemArray);
      },
      Value: function (itemArray) {
          var valite = false;
          var currentValue = 0;
          $("#scroll_Thumb1").bind('touchstart', function() {
          // $("#scroll_Thumb1").mousedown(function () {
              valite = true;
              $("#scroll_Thumb1").bind('touchmove', function(event) {
              // $(document.body).mousemove(function (event) {
                  if (valite == false) return;
                  var changeX = event.originalEvent.targetTouches[0].pageX - ScrollBar1.currentX;
                  currentValue = changeX - ScrollBar1.currentX - $("#Demo1").offset().left;
                  $("#scroll_Thumb1").css("margin-left", currentValue - 10 + "px");
                  $("#scroll_Track1").css("width", currentValue + "px");
                  if ((currentValue + 5) >= $("#scrollBar1").width()) {
                      $("#scroll_Thumb1").css("margin-left", $("#scrollBar1").width() - 10 + "px");
                      $("#scroll_Track1").css("width", $("#scrollBar1").width() + 2 + "px");
                      ScrollBar1.value = ScrollBar1.maxValue;
                  } else if (currentValue <= 0) {
                      $("#scroll_Thumb1").css("margin-left", "-8px");
                      $("#scroll_Track1").css("width", "0px");
                      ScrollBar1.value = 0;
                  } else {
                      ScrollBar1.value = Math.round(<%#= _mark_items[1][:max] %> * (currentValue / $("#scrollBar1").width()));
                  }
                  $("#scrollBarTxt1").html(ScrollBar1.value);
                  $("#process").html(ScrollBar1.value);
                  itemArray[1] = ScrollBar1.value;
                  $("#itemArray_").value = itemArray;
                  $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
              });
          });
          $("#scroll_Thumb1").bind('touchend', function(){
          // $(document.body).mouseup(function () {
              ScrollBar1.value = Math.round(<%#= _mark_items[1][:max] %> * (currentValue / $("#scrollBar1").width()));
              valite = false;
              if (ScrollBar1.value >= ScrollBar1.maxValue) ScrollBar1.value = ScrollBar1.maxValue;
              if (ScrollBar1.value <= 0) ScrollBar1.value = 0;
              $("#scrollBarTxt1").html(ScrollBar1.value);
              $("#process").html(ScrollBar1.value);
              itemArray[1] = ScrollBar1.value;
              $("#itemArray_").value = itemArray;
              $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
          });
      },
      GetValue: function () {
          this.currentX = $("#scrollBar1").width() * (this.value / this.maxValue);
      }
  }
//教学效果
  var ScrollBar2 = {
      value: <%#= _mark_items[2][:max] / 10 %>,
      maxValue: <%#= _mark_items[2][:max] %>,
      step: 1,
      currentX: 0,
      Initialize: function (itemArray) {
          if (this.value > this.maxValue) {
              alert("给定当前值大于了最大值");
              return;
          }
          this.GetValue();
          $("#scroll_Track2").css("width", this.currentX - 18 + "px");
          $("#scroll_Thumb2").css("margin-left", this.currentX - 20 + "px");
          this.Value(itemArray);
      },
      Value: function (itemArray) {
          var valite = false;
          var currentValue = 0;
          $("#scroll_Thumb2").bind('touchstart', function() {
          // $("#scroll_Thumb1").mousedown(function () {
              valite = true;
              $("#scroll_Thumb2").bind('touchmove', function(event) {
              // $(document.body).mousemove(function (event) {
                  if (valite == false) return;
                  var changeX = event.originalEvent.targetTouches[0].pageX - ScrollBar2.currentX;
                  currentValue = changeX - ScrollBar2.currentX - $("#Demo2").offset().left;
                  $("#scroll_Thumb2").css("margin-left", currentValue - 10 + "px");
                  $("#scroll_Track2").css("width", currentValue + "px");
                  if ((currentValue + 5) >= $("#scrollBar2").width()) {
                      $("#scroll_Thumb2").css("margin-left", $("#scrollBar2").width() - 10 + "px");
                      $("#scroll_Track2").css("width", $("#scrollBar2").width() + 2 + "px");
                      ScrollBar2.value = ScrollBar2.maxValue;
                  } else if (currentValue <= 0) {
                      $("#scroll_Thumb2").css("margin-left", "-8px");
                      $("#scroll_Track2").css("width", "0px");
                      ScrollBar2.value = 0;
                  } else {
                      ScrollBar2.value = Math.round(<%#= _mark_items[2][:max] %> * (currentValue / $("#scrollBar2").width()));
                  }
                  $("#scrollBarTxt2").html(ScrollBar2.value);
                  $("#result").html(ScrollBar2.value);
                  itemArray[2] = ScrollBar2.value;
                  $("#itemArray_").value = itemArray;
                  $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
              });
          });
          $("#scroll_Thumb2").bind('touchend', function(){
          // $(document.body).mouseup(function () {
              ScrollBar2.value = Math.round(<%#= _mark_items[2][:max] %> * (currentValue / $("#scrollBar2").width()));
              valite = false;
              if (ScrollBar2.value >= ScrollBar2.maxValue) ScrollBar2.value = ScrollBar2.maxValue;
              if (ScrollBar2.value <= 0) ScrollBar2.value = 0;
              $("#scrollBarTxt2").html(ScrollBar2.value);
              $("#result").html(ScrollBar2.value);
              itemArray[2] = ScrollBar2.value;
              $("#itemArray_").value = itemArray;
              $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
          });
      },
      GetValue: function () {
          this.currentX = $("#scrollBar2").width() * (this.value / this.maxValue);
      }
  }
//特色创新
  var ScrollBar3 = {
      value: <%#= _mark_items[3][:max] / 10 %>,
      maxValue: <%#= _mark_items[3][:max] %>,
      step: 1,
      currentX: 0,
      Initialize: function (itemArray) {
          if (this.value > this.maxValue) {
              alert("给定当前值大于了最大值");
              return;
          }
          this.GetValue();
          $("#scroll_Track3").css("width", this.currentX - 18 + "px");
          $("#scroll_Thumb3").css("margin-left", this.currentX - 20 + "px");
          this.Value(itemArray);
      },
      Value: function (itemArray) {
          var valite = false;
          var currentValue = 0;
          $("#scroll_Thumb3").bind('touchstart', function() {
          // $("#scroll_Thumb1").mousedown(function () {
              valite = true;
              $("#scroll_Thumb3").bind('touchmove', function(event) {
              // $(document.body).mousemove(function (event) {
                  if (valite == false) return;
                  var changeX = event.originalEvent.targetTouches[0].pageX - ScrollBar3.currentX;
                  currentValue = changeX - ScrollBar3.currentX - $("#Demo3").offset().left;
                  $("#scroll_Thumb3").css("margin-left", currentValue - 10 + "px");
                  $("#scroll_Track3").css("width", currentValue + "px");
                  if ((currentValue + 5) >= $("#scrollBar3").width()) {
                      $("#scroll_Thumb3").css("margin-left", $("#scrollBar3").width() - 10 + "px");
                      $("#scroll_Track3").css("width", $("#scrollBar3").width() + 2 + "px");
                      ScrollBar3.value = ScrollBar3.maxValue;
                  } else if (currentValue <= 0) {
                      $("#scroll_Thumb3").css("margin-left", "-8px");
                      $("#scroll_Track3").css("width", "0px");
                      ScrollBar3.value = 0;
                  } else {
                      ScrollBar3.value = Math.round(<%#= _mark_items[3][:max] %> * (currentValue / $("#scrollBar3").width()));
                  }
                  $("#scrollBarTxt3").html(ScrollBar3.value);
                  $("#innovate").html(ScrollBar3.value);
                  itemArray[3] = ScrollBar3.value;
                  $("#itemArray_").value = itemArray;
                  $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
              });
          });
          $("#scroll_Thumb3").bind('touchend', function(){
          // $(document.body).mouseup(function () {
              ScrollBar3.value = Math.round(<%#= _mark_items[3][:max] %> * (currentValue / $("#scrollBar3").width()));
              valite = false;
              if (ScrollBar3.value >= ScrollBar3.maxValue) ScrollBar3.value = ScrollBar3.maxValue;
              if (ScrollBar3.value <= 0) ScrollBar3.value = 0;
              $("#scrollBarTxt3").html(ScrollBar3.value);
              $("#innovate").html(ScrollBar3.value);
              itemArray[3] = ScrollBar3.value;
              $("#itemArray_").val(itemArray)
              $("#total_points").html(ScrollBar.value+ScrollBar1.value+ScrollBar2.value+ScrollBar3.value);
          });
      },
      GetValue: function () {
          this.currentX = $("#scrollBar3").width() * (this.value / this.maxValue);
      }
  }

  //初始化
  $(document.body).ready(function (e) {
      var itemArray = [0,0,0,0];

      ScrollBar.Initialize(itemArray);
      ScrollBar1.Initialize(itemArray);
      ScrollBar2.Initialize(itemArray);
      ScrollBar3.Initialize(itemArray);

      ScrollBar.value = 0;
      ScrollBar1.value = 0;
      ScrollBar2.value = 0;
      ScrollBar3.value = 0;

  });
</script> -->
