<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "首页", root_path %></li>
    <li>个人中心</li>
  </ol>

  <div class="global-tab info-competition-opus">
    <div class="global-tab-head">
      <div class="title">作品详情</div>
      <div class="more"></div>
    </div>
    <div class="global-tab-content">
      <div class="row">
        <div class="col-md-6">
          <div class="opus-video">
            <video width="469" height="320" class="mejs-player" controls="controls" preload="none">
              <source type="video/mp4" src="<%= @info_competition_opus.media.try(:file).try(:url) %>" />
            </video>
          </div>
        </div>
        <div class="col-md-6">
          <div class="opus-info">
            <div class="title"><%= @recruit.version %></div>
            <div class="author-info">
              学校：<%= @recruit.school.try(:name) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者：
              <%= @player_info.name %>
            </div>
            <div class="opus-content"><span class="content-text">参赛内容：</span><%= @info_competition_opus.content %></div>
            <div class="opus-content"><span class="content-text">作品名称：</span><%= @recruit.name %></div>
            <div class="opus-content"><span class="content-text">参考教材：</span><%= @recruit.version %></div>
            <div class="opus-content"><span class="content-text">参赛项目：</span><%= @recruit.project %></div>
          </div>
        </div>
      </div>
      
      <div class="item-bg">
        <div class="item-title">创作说明</div>
      </div>
      <div class="row opus-data">
        <%= @recruit.comment %>
      </div>

      <div class="item-bg">
        <div class="item-title">教案</div>
      </div>
      <div class="row opus-data">
        <div class="float-cell"><%= image_tag "pdf.png", class:"pdf-image" %></div>
        <div class="float-cell">
          <%= image_tag "open_eye.png" %>
          <%= link_to "在线预览", pdfjs.full_path(file: "#{@info_competition_opus.plan.try(:url)}"), target: "blank", "data-turbolinks" => false %>
        </div>
        <div class="float-cell">
          <%= image_tag "download.png" %>
          <%= link_to "点击下载", @info_competition_opus.plan.try(:file).try(:url) %>
        </div>
      </div>

      <div class="item-bg">
        <div class="item-title">说课稿</div>
      </div>
      <div class="row opus-data">
        <div class="float-cell"><%= image_tag "pdf.png", class:"pdf-image" %></div>
        <div class="float-cell">
          <%= image_tag "open_eye.png" %>
          <%= link_to "在线预览", pdfjs.full_path(file: "#{@info_competition_opus.note.try(:url)}"), target: "blank", "data-turbolinks" => false %>
        </div>
        <div class="float-cell">
          <%= image_tag "download.png" %>
          <%= link_to "点击下载", @info_competition_opus.note.try(:file).try(:url) %>
        </div>
      </div>

      <div class="item-bg">
        <div class="item-title">PPT文件</div>
      </div>
      <div class="row opus-data">
        <div class="float-cell"><%= image_tag "pdf.png", class:"pdf-image" %></div>
        <div class="float-cell">
          <%= image_tag "open_eye.png" %>
          <%= link_to "在线预览", pdfjs.full_path(file: "#{@info_competition_opus.ppt.try(:url)}"), target: "blank", "data-turbolinks" => false %>
        </div>
        <div class="float-cell">
          <%= image_tag "download.png" %>
          <%= link_to "点击下载", @info_competition_opus.ppt.try(:file).try(:url) %>
        </div>
      </div>
      
    </div>
  </div>
</div>