<table class="table table-bordered">
  <thead>
    <tr>
      <th>序号</th>
      <th>参赛项目</th>
      <th>姓名</th>
      <th>参赛课程</th>
      <th>手机</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @recruits.each_with_index do |recruit, index| -%>
    <tr>
      <th><%= index -%></th>
      <th><%= recruit.project -%></th>
      <th><%= recruit.cooperater_1 -%></th>
      <th><%= recruit.name -%></th>
      <th><%= recruit.player.phone -%></th>
      <th></th>
    </tr>
    <% end -%>
  </tbody>
</table>
