<p id="notice"><%= notice %></p>

<h1>Listing Resourse Videos</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Video type</th>
      <th>Catalog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resourse_videos.each do |resourse_video| %>
      <tr>
        <td><%= resourse_video.type %></td>
        <td><%= resourse_video.video_type %></td>
        <td><%= resourse_video.catalog %></td>
        <td><%= link_to 'Show', resourse_video %></td>
        <td><%= link_to 'Edit', edit_resourse_video_path(resourse_video) %></td>
        <td><%= link_to 'Destroy', resourse_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_resourse_video_path %>
