<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @resourse_video.type %>
</p>

<p>
  <strong>Video type:</strong>
  <%= @resourse_video.video_type %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @resourse_video.catalog %>
</p>

<%= link_to 'Edit', edit_resourse_video_path(@resourse_video) %> |
<%= link_to 'Back', resourse_videos_path %>
