<% if params[:from] == "phone" %>
  <% content_for :title do %>
    评分入口
  <% end %>

  <%= render partial: "components/banner" %>

  <div class="wrap">
    <div class="login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%#= f.select :login, Judge.all.collect{ |j| j.name }.insert(0, '请选择您的名称') %>
          <%= f.text_field :sign_in, label:" 专家姓名 ", required: true, autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "密码" %>
          <%#= f.input :password, label: "密 码", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "我要登录", class: "mbtn", data: { disable_with: '正在登录...' } %>
        </div>
      <% end %>
    </div>
    <div class="suport text-center">大唐邦彦（上海）信息技术有限公司<br/>技术支持</div>
  </div>
<% else %>
  <div class="container">
    <div class="panel panel-default tab_cotent">

      <div class="panel-heading tab_head">
        <%= image_tag("TabTitleBg.png", class: "bg_image")%>
        <div class="tab_title_text">登 录</div>
      </div>

      <div class="panel-body tab_body row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs login_tab_nav" role="tablist">
            <li role="presentation" class="active"><a href="new_expert_session_path" aria-controls="judge" role="tab" data-toggle="tab">评审专家</a></li>
            <li role="presentation"><%= link_to "学校管理员", new_school_user_session_path %></li>
            
          </ul>
          <!-- Tab panes -->
          <div class="tab-content login_tab_content">
            <%=  render partial: "judge_sign_form"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#player_school_id").select2();
    });
  </script>
<% end %>