<tr>
  <td><%= expert.phone %></td>
  <td><%= expert.email %></td>
  <td><%= expert.last_sign_in_at.try(:timeFormat) %></td>
  <td><%= expert.last_sign_in_ip %></td>
  <td>
  	<div class="btn-group" role="group" aria-label="...">
      <%= link_to edit_admin_expert_path(expert), remote: true, format: :js do %>
  		  <button type="button" class="btn btn-xs btn-warning">编辑</button>
      <% end %> 
      <%= link_to [:admin, expert], method: :delete, data: { confirm: '确定删除吗?' } do %>
        <button type="button" class="btn btn-xs btn-danger">删除</button>
      <% end %>
		</div>
  </td>
</tr>