<!DOCTYPE html>
<html>
<head>
  <title>EducationCompetePlatform</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page-header-fixed">
  <!-- 顶部导航 -->
  <%= render partial: "/admin/share/top_bar" %>

  <div class="page-container">
    <!-- 左侧导航栏部分 -->
    <%= render partial: "/admin/share/left_bar" %>

    <!-- 右侧内容页 -->
    <div class="page-content">
      <!-- 右侧中间内容部分 -->
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
              <%= title params[:controller] %>
            </h3>
            <ul class="breadcrumb">
              <li>
                <i class="icon-home"></i>
                <a href="index.html">Home</a> 
                <i class="icon-angle-right"></i>
              </li>
              <li><a href="#"><%= controller.controller_name%></a></li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
          </div>
        </div>
        <%= yield %>
      </div>
      
      <!-- flash -->
      <%= render partial: "/admin/share/flash_info" %>
      
    </div>
  </div>
  
  <!-- 页脚 -->
  <%= render partial: "/admin/share/footer" %>
  <%= yield :scripts %>
</body>
</html>
